.content {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: pink;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

body {
    background-color: magenta;
}

.wrapper {
    position: absolute;
    border: 10px ridge pink;
    width: 95%;
    height: 95%;
    background-color: pink;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
}

button {
    padding: 10px;
    font-size: larger;
}

#result.result-present {
    align-self: center;
    background-color: lightgray;
    padding: 10px;
    border: 3px groove gray;
    font-size: larger;
    font-weight: bold;
    font-size: larger;
    transform: scale(1) rotate(0deg);
    transition: transform .5s linear;
}

#result.result-change {
    align-self: center;
    background-color: lightgray;
    padding: 10px;
    border: 3px groove gray;
    font-size: larger;
    font-weight: bold;
    font-size: larger;
    transform: scale(0) rotate(360deg);
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#result {

    transform: scale(0) rotate(360deg);
}