body {
    background-color: magenta;
    background-image: url("./Images/heartpixel.gif");
    background-size: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.title {
    background-image: url("./Images/hearttile.gif");
font-weight: bold;
border: 2px ridge gray;
text-align: center;
/* color: white; */
padding: 10px;
}

.title a {
    font-size: larger;
margin: 0;
background-color: #ff8ac9e6;
text-decoration: none;
color: black;
padding: 2px 5px;
}